fastapi
uvicorn[standard]
requests
python-dotenv
pydantic
transformers
protobuf
sentencepiece
tiktoken
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu